*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(236,242,248);

}

.container{
    border: 1px solid black;
    /* padding:5rem; */
    gap: 1rem;
    display: grid;
    margin: 5rem;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
   
}
.box1{

    background-color: rgb(137, 98, 199);
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2{
    background-color:rgb(72,85,106);
    border: 1px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box3{
    background-color:rgb(255,255,255);
    border: 1px solid black;
    grid-area:1/4/4/4;
    /* grid-area: 1/4 / 4/4; */
    
}
.box4{
    background-color:rgb(255,255,255);
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
    
}
.box5{
    background-color: rgb(25,33,46);
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
}
