*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(236,242,248);

}

.container{
    border: 1px solid black;
    /* padding:5rem; */
    gap: 1rem;
    display: grid;
    margin: 5rem;
    /* grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(2,1fr); */
    grid-template-areas: "box1 box1 box2 box3"
                         "box4 box5 box5 box3";
   
}
.box1{
    grid-area: box1;
    background-color: #7541C8;
    border: 1px solid black;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}
.box2{
    grid-area: box2;
    background-color:rgb(72,85,106);
    border: 1px solid black;
    /* grid-column-start: 3;
    grid-column-end: 4; */
}
.box3{
    grid-area: box3;
    background-color:rgb(255,255,255);
    border: 1px solid black;
    /* grid-area:1/4/4/4; */
    /* grid-area: 1/4 / 4/4; */
    
}
.box4{
    grid-area: box4;
    background-color:rgb(255,255,255);
    border: 1px solid black;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    
}
.box5{
    grid-area: box5;
    background-color: rgb(25,33,46);
    border: 1px solid black;
    /* grid-column-start: 2;
    grid-column-end: 4; */
}
